$primary: #11998e;
$secondary: #38ef7d;
$white: #5e5d5d;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  // margin-top: 10px;
  width: 70%;
}

.icon {
  transform: translateY(-50%);
  color: $white;
  font-size: 1.4rem;
  transition: 0.6s;
  cursor: pointer;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  letter-spacing: 1px;
  top: 0;
  left: 0;
  display: block;
  // transform: translate(0px, 25px) scale(1);
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;

  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }

  .icon {
    color: $secondary;
  }
}
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.form__label_error {
  color: #f52720;
}

.form__field_error {
  border-image: linear-gradient(to right, #f52720, #9e4d34);
  border-image-slice: 1;
}

.form__field_with_icon {
  width: calc(100% - 3rem);
  padding-right: 3rem;
}

.input_btn {
  position: absolute;
  left: 93%;
  top: 50%;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
