.login_body_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.error_login_form {
  color: #f52720;
  transition: 0.6s;
  letter-spacing: 1px;
}

.span_remember_pswrd {
  color: #66a182;
  letter-spacing: 1px;
  cursor: pointer;
}

.remember_pswrd {
  color: #5e5d5d;
  letter-spacing: 1px;
}

.span_remember_pswrd:hover {
  color: #666;
}

.always_div_for_error {
  height: 24px;
}

.steps_div {
  width: 90%;
  align-self: center;
  display: flex;
  height: 100%;
  margin-top: 20%;
  flex-direction: column;
}

.reset_password_form {
  width: 110%;
  align-self: center;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30%;
  .reset_password_desc {
    color: #666666;
    width: 70%;
    letter-spacing: 1px;
    text-align: center;
    transition: 0.6s;
  }
}

.another_email {
  color: #66a182;
  letter-spacing: 1px;
  cursor: pointer;
}
.another_email:hover {
  color: #666;
}

.signup_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.errors_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}


