.device_card {
  max-width: 200px;
// height: 200px;
}

.disabled {
  background-color: #5e5d5d;
  border: none;
  opacity: 0.9;
  .ant-card-actions {
    border-top: none !important;
    background-color: #5e5d5d;
  }
}
