:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --global-margin: 15px;

  --global-grey: #5e5d5d;

  --global-green: #4e8e6d;

  --devices-gap: 40px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.steps {
overflow: hidden;
  .finish_step {
    .ant-steps-item-icon {
      background-color: #4e8e6d85 !important;
      border: none !important;
    }

    .ant-steps-item-title::after {
      background-color: #4e8e6d85 !important;
    }
  }

  .ant-steps-item-finish {
    .ant-steps-item-icon {
      background-color: #4e8e6d85 !important;
      border: none;
      .ant-steps-icon {
        color: #fff !important;
      }
    }
  }
}

.standart_btn {
  letter-spacing: 1px;
  transition: 0.6s;
}


.standart_btn:hover {
  transition: 0.6s;
  color: #5e5d5d !important;
}

.custom_select_container {
  .custom_select {
    letter-spacing: 1px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid var(--global-grey) ;
  }

  .ant-select-status-error {
    border-bottom: 1px solid red;
    .ant-select-selector {
      border: none !important;
    }
  }

  .ant-select-focused {
    border-bottom: 2px solid var(--global-green) ;

    .ant-select-selection-placeholder {
      position: absolute;
      bottom: 20%;
      font-size: 12px;
      color: var(--global-green);
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }
  }
}

.custom_input_container {
  .custom_input {
    letter-spacing: 1px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--global-grey) ;
  }

  .ant-input-status-error {
    border: none !important;
    border-bottom: 1px solid red !important;
  }
  .ant-select-focused {
    border-bottom: 2px solid var(--global-green) ;

    .ant-select-selection-placeholder {
      position: absolute;
      bottom: 20%;
      font-size: 12px;
      color: var(--global-green);
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }
  }
}


iframe {
  border: none;
}

.disabled {
  background-color: #7a7a7a;
  border: 1px solid #7a7a7a;
  opacity: 0.8;
  cursor: not-allowed;
  .ant-card-body {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  .ant-card-actions {
    background-color: #7a7a7a;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    span {
      cursor: not-allowed !important;
    }
  }
}

.off {
  background: transparent;
  .MuiButton-icon {
    margin: 0;
  }
}

.ant-card-body {
  border-top: 1px solid #f0f0f0;
}
 .ant-collapse-item {
   border-bottom: 1px solid #d9d9d9;
   letter-spacing: 1px;
   input {
     letter-spacing: 3px;
   }
 }

.custom_picker {
  width: 100%;
  border: none;
  position: relative;
}

.custom_picker::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--global-grey);
  transition: height 0.3s, background-color 0.3s;
  span {
    color: var(--global-grey);
  }
}

.custom_picker:hover::after {
  background-color: var(--global-green);
}

.custom_picker.ant-picker-focused::after {
  height: 2px;
  background-color: var(--global-green);
}

.custom_picker.ant-picker-focused span {
  color: var(--global-green);
}

.ant-picker-time-panel-container {
  .ant-picker-time-panel-cell {
    .ant-picker-time-panel-cell-inner {
      border-radius: 0 !important;
      padding: 0 !important;
      text-align: center;
    }
  }
  .ant-btn {
    background: var(--global-green);
    border-radius: 0;
    color: white;
    padding: 15px 15px;
  }
}

.added_script_list {
  .ant-list-item-meta-avatar {
    align-self: center;
  }
}
